@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to MsCoreOne</h1>

        <a class="btn btn-primary" href="/swagger/index.html">Swagger UI</a>
                
        <p class="mt-4">Manage your store. Admin email: <strong>admin@mscoreone.com</strong> Admin password: <strong>P@ssw0rd</strong></p>
    </div>
